@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100;200;300;400;600;700&family=Poppins:wght@100;200;300;400;600;800&display=swap');

*{
 box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 margin: 1px;
 padding: 1px;
 scroll-behavior: smooth;
 transition: all 0.5s ease;
}

:root{
  --maincolor: #f80b0b; 
  --textcolor: #fdf9f9;
  --foldfont: 'Foldit', cursive;
  --popfont: 'Poppins', sans-serif;

}

body{
  background-image: url(bg-2.jpg);
  background-size:cover;
  height: 300vh;
  width: 100%;
}

.home{
  height: 100vh;
  width: 100%;
  padding: 1px;
  margin: 1px;
}
.nav-bar{
  margin: 1px; 
	padding: 1px;  
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100; 
  align-items: center;
  justify-content: space-between;
}

.nav-logo{
  float: left;
  width: 20%;
  height: 100px;
  font-size: 80px;
  margin-top: 50px;
  margin-left: 80px;
  padding: 5px;
  color: #fefeff;
  font-family: var(--foldfont);
  font-weight: 400;
  letter-spacing: 5px;
}

.nav-menu{
 float: right;
 align-items: center;
 justify-content: space-between;
 margin-top: 70px;
 margin-right: 30px;
}

.nav-bar ul li {  
	display: inline-block;
  list-style-type: none;
  text-align: center;
	} 
 
.nav-bar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
  font-size: 30px;
  font-family: var(--popfont);
  border-radius: 60px;
	} 

.nav-bar ul li a:hover { 
  color: #131010; 
  background-color: #ffffff; 
  } 